@import 'reusables';

#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: $colorscheme-green;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px;
  padding-left: 10px;
}

#nav-bar button {
  float: right;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: $colorscheme-white;
  color: #00a087;
  border: 1px solid black;
  opacity: 0.9;
}

#nav-bar button:hover {
  opacity: 1;
}