.new-tweet {
  border-radius: 10px;
  background-color: #eee;
  padding: 10px;
  margin: 2em;
  border: 1px solid lightgrey;
}

.counter {
  float: right;
  padding-right: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

.color-warning {
  color: red;
}

.color-normal {
  color: black;
}

textarea {
  padding: 5px;
  width: 100%;
  margin-bottom: 15px;
}

h2 {
  border-bottom: 1px solid black;
  margin-top: 5px;
}