.tweet {
  border-radius: 5px;
  margin: 2em;
  border: 1px solid darkgrey;
  overflow: hidden;
  opacity: 0.6;
}



.tweet-header {
  background-color: #eee;
  height: 70px;
  border: 10px;
  border-radius: 5px;
}
.tweet-header img {
  padding: 10px;
  float: left;
}
.handle {
  float: right;
  padding-right: 10px;
  padding-top: 20px;
  font-size: small;
}
.username {
  float: left;
  padding-top: 10px;
  border-bottom: none;
}



.tweet p {
  padding: 10px;
  margin: 0px;
  background-color: white;
}



.tweet-footer {
  height: 25px;
  align-content: center;
}
.tweet-footer p {
  background: white;
  font-size: small;
  display: inline;
  padding: 3px;
  margin-left: 8px;
}
.tweet-actions {
  float: right;
  visibility: hidden;
  padding: 3px;
  margin-right: 8px;
}
.tweet-action {
  color: #00a087;
  margin-left: 8px;
}



